.main {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* header */
  /* global container */
  /* ~~~~~~~~~~~~ */
}
.main #-global-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8%;
  border-bottom: 0.1rem solid rgb(182, 182, 182);
}
.main #-global-container {
  flex: 1;
  display: flex;
  min-height: 0;
}
.main #-global-container #--bar-container {
  width: 10%;
  border-right: 0.1rem solid rgb(182, 182, 182);
  /* bar */
}
.main #-global-container #--bar-container #--bar {
  position: relative;
  margin-top: 0.5rem;
  width: 100%;
}
.main #-global-container #--bar-container #--bar #---bar-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main #-global-container #--bar-container #--bar #---bar-content #---logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  /* hover */
}
.main #-global-container #--bar-container #--bar #---bar-content #---logo-container:hover {
  cursor: pointer;
}
.main #-global-container #--bar-container #--bar #---bar-content #---logo-container #_logo-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main #-global-container #--bar-container #--bar #---bar-content #---logo-container #_logo-content #__logo-handler {
  width: 50%;
  height: 50%;
}
.main #-global-container #--bar-container #--bar #---bar-content #---logo-container #_logo-content #__logo-handler #___logo {
  width: 100%;
  height: 100%;
}
.main #-global-container #--bar-container #--bar #---bar-content #---session-manager {
  width: 100%;
  height: 8rem;
}
.main #-global-container #--bar-container #--bar #---bar-content #---session-manager #_s-content {
  width: 100%;
  height: 100%;
}
.main #-global-container #--bar-container #--bar #---bar-content #---session-manager #_s-content #_s-handler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main #-global-container #--bar-container #--bar #---bar-content #---session-manager #_s-content #_s-handler #__s-content-container {
  width: 95%;
  height: 2.5rem;
  /* buttons */
  /* */
}
.main #-global-container #--bar-container #--bar #---bar-content #---session-manager #_s-content #_s-handler #__s-content-container button {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0.2rem;
  font-family: "Segoe UI";
  text-align: left;
  gap: 0.5rem;
  /* hover */
}
.main #-global-container #--bar-container #--bar #---bar-content #---session-manager #_s-content #_s-handler #__s-content-container button div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.main #-global-container #--bar-container #--bar #---bar-content #---session-manager #_s-content #_s-handler #__s-content-container button .id-handler {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.main #-global-container #--bar-container #--bar #---bar-content #---session-manager #_s-content #_s-handler #__s-content-container button .btn-icon-handler {
  width: 30%;
}
.main #-global-container #--bar-container #--bar #---bar-content #---session-manager #_s-content #_s-handler #__s-content-container button #active-img-content--, .main #-global-container #--bar-container #--bar #---bar-content #---session-manager #_s-content #_s-handler #__s-content-container button #icon-img-content-- {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main #-global-container #--bar-container #--bar #---bar-content #---session-manager #_s-content #_s-handler #__s-content-container button #active-img-content-- img, .main #-global-container #--bar-container #--bar #---bar-content #---session-manager #_s-content #_s-handler #__s-content-container button #icon-img-content-- img {
  width: clamp(5%, 1vw, 100%) !important;
  height: clamp(5%, 1vw, 60%) !important;
}
.main #-global-container #--bar-container #--bar #---bar-content #---session-manager #_s-content #_s-handler #__s-content-container button:hover {
  cursor: pointer;
}
.main #-global-container #--bar-container #--bar #---bar-content #---session-manager #_s-content #_s-handler #__s-content-container button span {
  word-wrap: break-word;
  font-size: clamp(1px, 1vw, 16px) !important;
}
.main #-global-container #--bar-container #--bar #---bar-content #---session-manager #_s-content #_s-handler #__s-content-container .current {
  background-color: rgb(0, 98, 255);
  color: rgb(255, 255, 255);
  /* hover */
}
.main #-global-container #--bar-container #--bar #---bar-content #---session-manager #_s-content #_s-handler #__s-content-container .current:hover {
  background-color: rgb(0, 75, 197);
  transition: background-color 0.13s ease;
}
.main #-global-container #--bar-container #--bar #---bar-content #---session-manager #_s-content #_s-handler #__s-content-container .inactive {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  /* hover */
}
.main #-global-container #--bar-container #--bar #---bar-content #---session-manager #_s-content #_s-handler #__s-content-container .inactive:hover {
  background-color: rgb(234, 236, 240);
  transition: background-color 0.13s ease;
}
.main #-global-container #-main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}
.main #-global-container #-main-container #--header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* search bar */
}
.main #-global-container #-main-container #--header-content #---search-bar-container {
  width: 20vw;
  height: 5vh;
}
.main #-global-container #-main-container #--header-content #---search-bar-container #_search-bar-content-container {
  width: 100%;
  height: 100%;
}
.main #-global-container #-main-container #--header-content #---search-bar-container #_search-bar-content-container #__search-bar-content {
  width: 100%;
  height: 100%;
}
.main #-global-container #-main-container #--header-content #---search-bar-container #_search-bar-content-container #__search-bar-content #input-search-container-content- {
  display: flex;
  width: 100%;
  height: 100%;
  border: 0.1rem solid rgb(182, 182, 182);
  border-radius: 0.5rem;
}
.main #-global-container #-main-container #--header-content #---search-bar-container #_search-bar-content-container #__search-bar-content #input-search-container-content-:focus-within {
  outline: none;
  border: 0.1rem solid rgb(0, 98, 255);
}
.main #-global-container #-main-container #--header-content #---search-bar-container #_search-bar-content-container #__search-bar-content #input-search-container-content- #serch-icon-content-- {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}
.main #-global-container #-main-container #--header-content #---search-bar-container #_search-bar-content-container #__search-bar-content #input-search-container-content- #serch-icon-content-- #search-icon--- {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(15%, 3vw, 100%) !important;
  height: clamp(15%, 2.5vw, 100%) !important;
}
.main #-global-container #-main-container #--header-content #---search-bar-container #_search-bar-content-container #__search-bar-content #input-search-container-content- #serch-icon-content-- #search-icon--- img {
  width: 45%;
  height: 50%;
}
.main #-global-container #-main-container #--header-content #---search-bar-container #_search-bar-content-container #__search-bar-content #input-search-container-content- #input-search-content-- {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main #-global-container #-main-container #--header-content #---search-bar-container #_search-bar-content-container #__search-bar-content #input-search-container-content- #input-search-content-- #input-search-- {
  width: 100%;
  height: 100%;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  /* placeholder */
  /* focus */
}
.main #-global-container #-main-container #--header-content #---search-bar-container #_search-bar-content-container #__search-bar-content #input-search-container-content- #input-search-content-- #input-search--::-moz-placeholder {
  position: relative;
  top: -0.05rem;
  font-size: clamp(10px, 1vw, 16px) !important;
  color: rgb(105, 105, 105);
}
.main #-global-container #-main-container #--header-content #---search-bar-container #_search-bar-content-container #__search-bar-content #input-search-container-content- #input-search-content-- #input-search--::placeholder {
  position: relative;
  top: -0.05rem;
  font-size: clamp(10px, 1vw, 16px) !important;
  color: rgb(105, 105, 105);
}
.main #-global-container #-main-container #--header-content #---search-bar-container #_search-bar-content-container #__search-bar-content #input-search-container-content- #input-search-content-- #input-search--:focus {
  outline: none;
  border: 0.1rem solid transparent;
}
.main #-global-container #-main-container #--header-content #---search-bar-container #_search-bar-content-container #__search-bar-content #input-search-container-content- #input-search-content-- #input-search--::-webkit-search-cancel-button {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  background-color: rgb(105, 105, 105);
  mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23000'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23000'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  mask-size: contain;
  -webkit-mask-size: contain;
  /* hover */
}
.main #-global-container #-main-container #--header-content #---search-bar-container #_search-bar-content-container #__search-bar-content #input-search-container-content- #input-search-content-- #input-search--::-webkit-search-cancel-button:hover {
  background-color: rgb(52, 52, 52);
  -webkit-transition: background-color 0.13s ease;
  transition: background-color 0.13s ease;
}
.main #-global-container #-main-container #--header-content #---bar-info {
  visibility: hidden;
}
.main #-global-container #-main-container #--main-note-container {
  display: flex;
  flex: 1;
  min-height: 0;
  height: 100%;
  /* notes container */
  /* info */
}
.main #-global-container #-main-container #--main-note-container #--notes-container {
  /* add container */
  /* note content */
}
.main #-global-container #-main-container #--main-note-container #--notes-container #---add-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  /* after */
}
.main #-global-container #-main-container #--main-note-container #--notes-container #---add-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 0.05rem;
  background-color: rgb(182, 182, 182);
}
.main #-global-container #-main-container #--main-note-container #--notes-container #---add-container #_add-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main #-global-container #-main-container #--main-note-container #--notes-container #---add-container #_add-content #__add-note-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 95%;
  height: 85%;
  background-color: rgb(0, 98, 255);
  border: 0;
  border-radius: 0.3rem;
  font-family: "Segoe UI";
  font-size: 1.5rem;
  /* hover */
}
.main #-global-container #-main-container #--main-note-container #--notes-container #---add-container #_add-content #__add-note-btn:hover {
  cursor: pointer;
  background-color: rgb(0, 76, 197);
  transition: background-color 0.13s ease;
}
.main #-global-container #-main-container #--main-note-container #--notes-container #---add-container #_add-content #__add-note-btn span {
  position: relative;
  top: -0.1rem;
  color: rgb(255, 255, 255);
}
.main #-global-container #-main-container #--main-note-container #--notes-container #---notes-content {
  position: relative;
  display: flex;
  height: 100%;
}
.main #-global-container #-main-container #--main-note-container #--info {
  width: 80%;
  border-left: 0.1rem solid rgb(182, 182, 182);
}
.main #-global-container #-main-container #--main-note-container #--info #---message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main #-global-container #-main-container #--main-note-container #--info #---message #_content-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  border: 0.1rem solid rgba(65, 72, 84, 0.375);
  border-radius: 0.3rem;
  background: linear-gradient(to bottom, rgba(0, 28, 73, 0.245), rgba(255, 255, 255, 0));
}
.main #-global-container #-main-container #--main-note-container #--info #---message #_content-message #__container-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  text-align: center;
}
.main #-global-container #-main-container #--main-note-container #--info #---message #_content-message #__container-text #___content-text p {
  font-size: clamp(10px, 2vw, 35px) !important;
}
.main #-global-container #-main-container #--main-note-container #--info #---message #_content-message #__container-text #___content-text span {
  font-size: clamp(10px, 1vw, 25px) !important;
}
.main #-global-container #-main-container #--main-note-container #--info #---message #_content-message #__container-text #___content-text p {
  font-size: 35px;
  font-weight: 700;
  margin: 0;
  color: rgb(109, 109, 109);
}
.main #-global-container #-main-container #--main-note-container #--info #---message #_content-message #__container-text #___content-text span {
  font-size: 25px;
  color: rgb(152, 152, 152);
}
.main #-global-container #-main-container #--main-note-container #--info #---message #_content-message #__container-text #___content-text #pb {
  color: rgb(0, 98, 255);
}
.main #-global-container #-main-container #--main-note-container #--info #---message #_content-message #__container-text #___content-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main #-global-container #-main-container #--main-note-container #--info #---message #_content-message #__container-text #___content-button-container #content-button- {
  width: 30%;
  height: 100%;
}
.main #-global-container #-main-container #--main-note-container #--info #---message #_content-message #__container-text #___content-button-container #content-button- button {
  padding: 2em 1em;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 98, 255);
  border: 0.1rem solid rgb(0, 75, 195);
  border-radius: 0.3rem;
}
.main #-global-container #-main-container #--main-note-container #--info #---message #_content-message #__container-text #___content-button-container #content-button- button div span {
  font-size: clamp(10px, 2vw, 16px) !important;
}
.main #-global-container #-main-container #--main-note-container #--info #---message #_content-message #__container-text #___content-button-container #content-button- button:hover {
  cursor: pointer;
  background-color: rgb(0, 76, 197);
  transition: background-color 0.13s ease;
}
.main #-global-container #-main-container #--main-note-container #--info .note-manager {
  width: 100%;
  height: 100%;
}
.main #-global-container #-main-container #--main-note-container #--info .note-manager #_note-actions #__note-save-container #___save-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.15rem;
  width: 10%;
  height: 2rem;
  font-size: 13px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 98, 255);
  border: 0;
  border-radius: 0.3rem;
  /* hover */
}
.main #-global-container #-main-container #--main-note-container #--info .note-manager #_note-actions #__note-save-container #___save-btn #save-btn-icon-content- {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}
.main #-global-container #-main-container #--main-note-container #--info .note-manager #_note-actions #__note-save-container #___save-btn #save-btn-icon-content- #save-btn-icon-- {
  width: 100%;
  height: 100%;
}
.main #-global-container #-main-container #--main-note-container #--info .note-manager #_note-actions #__note-save-container #___save-btn:hover {
  cursor: pointer;
  background-color: rgb(0, 76, 197);
  transition: background-color 0.13s ease;
}
.main #-global-container #-main-container #--main-note-container #--info .note-manager #---note-creator {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
}
.main #-global-container #-main-container #--main-note-container #--info .note-manager #---note-creator #_note-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  width: 100%;
  height: 100%;
}
.main #-global-container #-main-container #--main-note-container #--info .note-manager #---note-creator #_note-main #__note-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.main #-global-container #-main-container #--main-note-container #--info .note-manager #---note-creator #_note-main #__note-container #___note-content-container {
  width: 98%;
  height: 100%;
}
.main #-global-container #-main-container #--main-note-container #--info .note-manager #---note-creator #_note-main #__note-container #___note-content-container #note-content- {
  width: 100%;
  height: 100%;
  /* focus */
}
.main #-global-container #-main-container #--main-note-container #--info .note-manager #---note-creator #_note-main #__note-container #___note-content-container #note-content-:focus {
  outline: none;
}/*# sourceMappingURL=styles.css.map */