.main {
    position: relative;
    display: flex;
    flex-direction: column;
    
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    /* header */
    #-global-header {
        position: relative;
        width: 100%;
        height: 10%;

        border-bottom: 0.1rem solid black;

        #--header-content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 100%;
            height: 100%;

            /* logo */
            #---logo-container {
                
            }
    
            /* search bar */
            #---search-bar-container {
               
            }
    
            #---bar-info {
                visibility: hidden;
            }
        }

    }

    /* global container */
        #-global-container {
            flex: 1;
            display: flex;
            min-height: 0;

            /* bar */
            #--bar {
                width: 8%;

                border-right: 0.1rem solid black;

                #---session-manager {
                    height: 100%;

                    #_s-content {
                        height: 100%;

                        #__s-content-container {
                            width: 100%;

                            button {
                                width: 100%;
                                border: 0.1rem solid;
                            }

                            /* buttons */
                                .current {
                                    background-color: rgb(0, 0, 0);
                                    border: 0.1rem solid rgb(0, 153, 255);
                                    color: rgb(255, 255, 255);
                                }
            
                                .inactive {
                                    background-color: rgb(255, 255, 255);
                                    border: 0.1rem solid rgb(14, 187, 37);
                                    color: rgb(0, 0, 0);
                                }
                            /* */
                        }
                    }
                }
            }

            /* notes container */
            #--notes-container {
                width: 20%;

                /* add container */
                #---add-container {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    height: 10%;

                    /* after */
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        
                        width: 95%;
                        height: 0.1rem;

                        background-color: black;
                    }

                    #_add-content {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        width: 100%;
                        height: 100%;

                        #__add-note-btn {
                            width: 95%;
                            height: 85%;

                            font-family: Arial, Helvetica, sans-serif;
                        }
                    }
                }

                /* note content */
                #---notes-content {
                    position: relative;
                    display: flex;
                    height: 100%;
                }
            }

            /* info */
            #--info {
                width: 80%;
                
                border-left: 0.1rem solid black;
            }
        }
    /* ~~~~~~~~~~~~ */
}