/* list */
#--notes-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}
#--notes-container #---notes-content {
  cursor: default;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
#--notes-container #---notes-content .notes-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
#--notes-container #---notes-content .notes-list .-all-notes-container, #--notes-container #---notes-content .notes-list #--all-notes-content,
#--notes-container #---notes-content .notes-list .-fav-notes-container, #--notes-container #---notes-content .notes-list #--fav-notes-content {
  width: 100%;
}
#--notes-container #---notes-content .notes-list .-fav-notes-container, #--notes-container #---notes-content .notes-list .-all-notes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#--notes-container #---notes-content .notes-list .-fav-notes-container #--fav-notes-content, #--notes-container #---notes-content .notes-list .-fav-notes-container #--all-notes-content, #--notes-container #---notes-content .notes-list .-all-notes-container #--fav-notes-content, #--notes-container #---notes-content .notes-list .-all-notes-container #--all-notes-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#--notes-container #---notes-content .notes-list .-fav-notes-container #--fav-notes-content #_note, #--notes-container #---notes-content .notes-list .-fav-notes-container #--all-notes-content #_note, #--notes-container #---notes-content .notes-list .-all-notes-container #--fav-notes-content #_note, #--notes-container #---notes-content .notes-list .-all-notes-container #--all-notes-content #_note {
  width: 95%;
}
#--notes-container #---notes-content .notes-list .-fav-notes-container #--fav-notes-content #_note #_note-item, #--notes-container #---notes-content .notes-list .-fav-notes-container #--all-notes-content #_note #_note-item, #--notes-container #---notes-content .notes-list .-all-notes-container #--fav-notes-content #_note #_note-item, #--notes-container #---notes-content .notes-list .-all-notes-container #--all-notes-content #_note #_note-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5.5rem;
  border-bottom: 0.1rem solid rgb(182, 182, 182);
  /* hover */
}
#--notes-container #---notes-content .notes-list .-fav-notes-container #--fav-notes-content #_note #_note-item:hover, #--notes-container #---notes-content .notes-list .-fav-notes-container #--all-notes-content #_note #_note-item:hover, #--notes-container #---notes-content .notes-list .-all-notes-container #--fav-notes-content #_note #_note-item:hover, #--notes-container #---notes-content .notes-list .-all-notes-container #--all-notes-content #_note #_note-item:hover {
  background-color: rgb(219, 220, 224);
  transition: background-color 0.13s ease;
}
#--notes-container #---notes-content .notes-list .-fav-notes-container #--fav-notes-content #_note #_note-item #__note-item-content, #--notes-container #---notes-content .notes-list .-fav-notes-container #--all-notes-content #_note #_note-item #__note-item-content, #--notes-container #---notes-content .notes-list .-all-notes-container #--fav-notes-content #_note #_note-item #__note-item-content, #--notes-container #---notes-content .notes-list .-all-notes-container #--all-notes-content #_note #_note-item #__note-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#--notes-container #---notes-content .notes-list .-fav-notes-container #--fav-notes-content #_note #_note-item #__note-item-content #__note-content #___note-content-el, #--notes-container #---notes-content .notes-list .-fav-notes-container #--all-notes-content #_note #_note-item #__note-item-content #__note-content #___note-content-el, #--notes-container #---notes-content .notes-list .-all-notes-container #--fav-notes-content #_note #_note-item #__note-item-content #__note-content #___note-content-el, #--notes-container #---notes-content .notes-list .-all-notes-container #--all-notes-content #_note #_note-item #__note-item-content #__note-content #___note-content-el {
  font-size: 18px !important;
  /* without color */
  /* colored */
  /* empty content */
}
#--notes-container #---notes-content .notes-list .-fav-notes-container #--fav-notes-content #_note #_note-item #__note-item-content #__note-content #___note-content-el div, #--notes-container #---notes-content .notes-list .-fav-notes-container #--all-notes-content #_note #_note-item #__note-item-content #__note-content #___note-content-el div, #--notes-container #---notes-content .notes-list .-all-notes-container #--fav-notes-content #_note #_note-item #__note-item-content #__note-content #___note-content-el div, #--notes-container #---notes-content .notes-list .-all-notes-container #--all-notes-content #_note #_note-item #__note-item-content #__note-content #___note-content-el div {
  color: rgb(142, 142, 142);
}
#--notes-container #---notes-content .notes-list .-fav-notes-container #--fav-notes-content #_note #_note-item #__note-item-content #__note-content #___note-content-el div span, #--notes-container #---notes-content .notes-list .-fav-notes-container #--all-notes-content #_note #_note-item #__note-item-content #__note-content #___note-content-el div span, #--notes-container #---notes-content .notes-list .-all-notes-container #--fav-notes-content #_note #_note-item #__note-item-content #__note-content #___note-content-el div span, #--notes-container #---notes-content .notes-list .-all-notes-container #--all-notes-content #_note #_note-item #__note-item-content #__note-content #___note-content-el div span {
  filter: grayscale(60%);
}
#--notes-container #---notes-content .notes-list .-fav-notes-container #--fav-notes-content #_note #_note-item #__note-item-content #__note-content #___note-content-el #empty-content-, #--notes-container #---notes-content .notes-list .-fav-notes-container #--all-notes-content #_note #_note-item #__note-item-content #__note-content #___note-content-el #empty-content-, #--notes-container #---notes-content .notes-list .-all-notes-container #--fav-notes-content #_note #_note-item #__note-item-content #__note-content #___note-content-el #empty-content-, #--notes-container #---notes-content .notes-list .-all-notes-container #--all-notes-content #_note #_note-item #__note-item-content #__note-content #___note-content-el #empty-content- {
  font-style: italic;
  font-size: 0.9rem;
  color: rgb(142, 142, 142);
}
#--notes-container #---notes-content .notes-list #_empty-note-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#--notes-container #---notes-content .notes-list #_empty-note-container #__empty-note-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#--notes-container #---notes-content .notes-list #_empty-note-container #__empty-note-content #___empty-note {
  width: 100%;
}

/* manager */
.note-manager #---note-creator #_note-main #__note-container {
  border: 0.1rem solid black;
}
.note-manager #---note-creator #_note-main #__note-container #___note-content-container #note-content- {
  font-family: 21px;
}

/* current */
.current {
  background-color: rgb(219, 220, 224);
}

/* note actions */
#__note-actions {
  width: 2rem;
  height: 2rem;
  background-color: black;
}
#__note-actions #___note-actions-content {
  position: relative;
  top: 2rem;
  right: 2rem;
}

/* toolbar */
#__toolbar {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 8rem;
  gap: 2rem;
  background-color: rgb(155, 155, 155);
}
#__toolbar #items {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
  align-items: center;
  /* color picker */
}
#__toolbar #items #text-custom {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* size picker */
  /* format picker */
}
#__toolbar #items #text-custom #___format-picker {
  display: flex;
  flex-direction: column;
  /* options */
}
#__toolbar #items #text-custom #___format-picker #button-option-bold- {
  font-weight: bolder;
}
#__toolbar #items #text-custom #___format-picker #--button-option-italic- {
  font-style: italic;
}
#__toolbar #items #text-custom #___format-picker #--button-option-underline- {
  text-decoration: underline;
}
#__toolbar #items #___color-picker {
  /* color option */
}
#__toolbar #items #___color-picker .color-option- {
  width: 1.5rem;
  height: 1.5rem;
}/*# sourceMappingURL=styles.css.map */