#_note {
    /* hover */
    &:hover {
        background-color: rgba(0, 0, 0, 0.309);
    }
}

.note-manager {
    #---note-creator {
        #_note-main {
            #__note-container {
                border: 0.1rem solid black;

                #___note-title-container, #___note-content-container span {
                    display: inline;
                }

                #___note-title-container {
                    #note-title- {
                        color: red;
                    }
                }
            }
        }
    }
}

/* toolbar */
#__toolbar {
    display: flex;
    width: fit-content;
    margin: 0;
    border: 0;

    /* format picker */
    #___format-picker {
        display: flex;
        flex-direction: column;
    
        /* options */
        #button-option-bold- {
            font-weight: bolder;
        }
    
        #--button-option-italic- {
            font-style: italic;
        }
    
        #--button-option-underline- {
            text-decoration: underline;
        }
    }
    
    /* color picker */
    #___color-picker {
        /* color option */
        .color-option- {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}