/* list */
#--notes-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;

    #---notes-content {
        overflow-y: auto;
    
        width: 100%;
        height: 100%;
    
        .notes-list {
            overflow-y: auto;
            
            width: 100%;
            height: 100%;
        
            #_note {
                width: 100%;
        
                /* hover */
                &:hover {
                    background-color: rgba(0, 0, 0, 0.309);
                }
        
                #_note-item {
                    #__note-content {
                        #___note-content-el {
                            #note-content- {
                                div {
                                    color: rgb(107, 107, 107);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* manager */
.note-manager {
    #---note-creator {
        #_note-main {
            #__note-container {
                border: 0.1rem solid black;

                #___note-content-container {
                    #note-content- {
                        font-family: 21px;
                    }
                }
            }
        }
    }
}

/* toolbar */
#__toolbar {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;

    width: 5rem;
    height: 8rem;

    gap: 2rem;

    background-color: rgb(155, 155, 155);

    #items {
        display: flex;
        width: fit-content;
        justify-content: center;
        align-items: center;

        #text-custom {
            display: flex;
            flex-direction: column;

            gap: 2rem;

            /* size picker */
            
            /* format picker */
            #___format-picker {
                display: flex;
                flex-direction: column;
            
                /* options */
                #button-option-bold- {
                    font-weight: bolder;
                }
            
                #--button-option-italic- {
                    font-style: italic;
                }
            
                #--button-option-underline- {
                    text-decoration: underline;
                }
            }
        }
        
        /* color picker */
        #___color-picker {
            /* color option */
            .color-option- {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }

}