/* ~~~~~~~~~~~~ */
@import url('./main/styles.scss');
@import url('./notes/styles.scss');
/* ~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~ */
@font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SF-Pro-Display-Regular.otf') format('opentype');
    font-style: normal;
}

$glFont: 'SF Pro Display';

/* ~~~~~~~~~~~~ */

html, body {
    font-family: $glFont;
}

html, body, #root {
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    margin: 0;
    border: 0;
}